.button {
  width: 100px;
  margin: 0 5px 0 5px;
}

.expand-content {
  flex: 1 1 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  overflow: auto;
}

.reversed {
  justify-content: flex-end;
}
