<div class="fill column">
  <h2 mat-dialog-title>Orden</h2>
  <div class="expand-content row">
    <app-menu-item
      *ngFor="let menuItem of menu" [menu]="menuItem"
      [counter]="getOrderStatus(menuItem)"
      (addOrder)="addOrder($event)"
      (removeOrder)="removeOrder($event)">
    </app-menu-item>
  </div>
  <div class="row reversed">
    <button mat-raised-button (click)="close()" color="primary" class="button">Guardar</button>
    <button mat-raised-button (click)="close()" color="warn" class="button">Cancelar</button>
  </div>
</div>
