.state-container {
  padding: 10px;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: center;
  display: flex;
  background: aliceblue;
}

.state {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.state-title {
  height: 20px;
  text-align: center;
}

.state-content {
  flex: 1 1 0;
  overflow: auto;
  padding: 5px;
}

.left-separator {
  border-left: 1px dotted black;
}

.order {
  border-radius: 4px;
  padding: 5px;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  margin-bottom: 5px;
}
