<div class="fill column">
  <mat-toolbar class="toolbar mat-elevation-z3" color="primary">Cocina</mat-toolbar>
  <div class="state-container row">
    <div class="state">
      <div class="state-title">Ordenes</div>
      <div class="state-content"></div>
    </div>
    <div class="state left-separator">
      <div class="state-title">Preparación</div>
      <div class="state-content"></div>
    </div>
    <div class="state left-separator">
      <div class="state-title">Listo</div>
      <div class="state-content"></div>
    </div>
  </div>
</div>
